[submodule "microservice-nginx"]
	path = microservice-nginx
	url = https://github.com/samhamra/microservice-nginx
	branch = master
[submodule "microservice-node-react"]
	path = microservice-node-react
	url = https://github.com/samhamra/microservice-node-react.git
	branch = master
[submodule "microservice-jenkins"]
	path = microservice-jenkins
	url = https://github.com/samhamra/microservice-jenkins.git
[submodule "microservice-node"]
	path = microservice-node
	url = https://github.com/samhamra/microservice-node
[submodule "microservice-react"]
	path = microservice-react
	url = https://github.com/samhamra/microservice-react
